@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html,
body,
* {
  font-family: 'JetBrains Mono', monospace;
}

html {
  background-color: #141414;
  color: #F5F5F5;
  scrollbar-color: #1A1A1A #141414;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scroll-padding-top: 64px;
}

body {
  background-color: #141414;
  color: #F5F5F5;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
